<aside class="sidebar">
  <nav class="sidebar-nav">
    <h2 class="visually-hidden">메뉴</h2>
      <div class="drawer-menu">
        <a href="/about">
          <button class="drawer-menu-button"  type="button">
            ABOUT
          </button>
        </a>
      </div>
      <div class="drawer-menu">
        <a href="/course-daejeon">
          <button class="drawer-menu-button" type="button">
            코스대전
          </button>
        </a>
      </div>
      <div class="drawer-menu is-info">
        <button class="drawer-menu-button" type="button">
          대전의 모든 것
          <i class="fa-solid fa-chevron-down"></i>
        </button>
        
        <div class="drawer-menu-content">
          <ul class="drawer-menu-list">
            <li class="drawer-menu-item"><a href="/today-do">오늘 뭐하지</a></li>
            <li class="drawer-menu-item"><a href="/today-eat">오늘 뭐먹지</a></li>
            <li class="drawer-menu-item"><a href="/today-see">오늘 뭐보지</a></li>
            <li class="drawer-menu-item"><a href="/today-all">대전의 모든 것</a></li>
          </ul>
        </div>
      </div>
      
      <div class="drawer-menu">
        <a href="/contact">
          <button class="drawer-menu-button"  type="button">
            CONTACT
          </button>
        </a>
      </div>
    </nav>
  </aside>

  <div class="overlay"></div>