<!DOCTYPE html>
<html lang="ko">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="데이트는 대전이쥬~">
  <meta name="keywords" content="대전, 여행, 맛집, 데이트, 기념일, 관광">
  <meta name="author" content="꼬타비, 서우, 한나, Kai">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/6105f934ac.js" crossorigin="anonymous"></script>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <title>DDju</title>

  <link rel="stylesheet" href="../CSS/style.css">
  <link rel="stylesheet" href="../CSS/header.css">
  <link rel="stylesheet" href="../CSS/index.css">
  <link rel="stylesheet" href="../CSS/footer.css">
  <link rel="stylesheet" href="../CSS/aside.css">
  <link rel="stylesheet" href="../CSS/weather.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <section>
        <!-- section1. 날씨, 미세먼지 API -->
        <div id="data">
          <div class="location">
           <div class="data-item sidoname">
             <i class="fa-solid fa-location-dot"></i>대전
           </div>
           <div class="data-item cityname">
             유성구
           </div>
          </div>
           <div class="data-item weather">
             <div class="we">
               <i class="fa-regular fa-face-smile"></i>
               <div class="info-text">
                 <p>날씨</p>
               </div>
             </div>
             <div class="we">
               <i class="fa-regular fa-face-smile"></i>
               <div class="info-text">
                 <p>온도</p>
               </div>
             </div>
           </div>
           <div class="data-item mise">
             미세먼지 좋음<i class="fa-regular fa-face-smile"></i>
           </div>
        </div>
        <!-- section1. search box -->
        <div class="search">
          <div class="search-txt">
            <h3>대전 데이트</h3>
            <p>어디로 가지?</p>
          </div>
          <div class="search-box">
            <form id="search" action="/search" method="post">
              <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <input name="search" type="text" placeholder="검색어를 입력하세요.">
              </div>
              <button type="submit">검색</button>
            </form>
            <ul class="keywords-list">
              <li>#맛집</li>
              <li>#데이트 코스 추천</li>
              <li>#대전 핫플</li>
              <li>#놀거리</li>
            </ul>
          </div>
        </div>
      </section>


      <!-- section2. slide -->
      <section>
        <div class="slide-wrapper">
          <div class="section-text">
            <h1 class="section-title">오늘 '대전'이 책임질게</h1>
            <p class="section-content">데이트 코스 추천</p>
          </div>
          <a href="/course-daejeon">
            <button type="button" class="add">+ 더보기</button>
          </a>
          <div class="slide-container">
            <div class="slide-list">
              <div class="slide-item">
                <img src="../images/데이트코스1.jpg" alt="엑스포">                            
                <div class="slide-item-text">
                  <h2 class="slide-title">밤에 갈만한 코스</h2>
                  <p class="slide-content">대전 유성구 야경을 사진으로 <br>담을 수 있는 최적의 장소를 <br>소개해 드리겠습니다.<br>대전 명소를 찾는 사람들이 <br>장소마다 다채로운 느낌을 <br>받을 수 있고, <br>다양한 추억을 쌓을 수 있습니다.</p>
                  <ul>
                    <li><i class="fa-solid fa-location-dot"></i>신세계 아트앤사이언스</li>
                    <li><i class="fa-solid fa-location-dot"></i>한빛탑 전망대</li>
                    <li><i class="fa-solid fa-location-dot"></i>엑스포 음악분수</li>
                    <li><i class="fa-solid fa-location-dot"></i>엑스포 다리</li>
                  </ul>
                </div>
              </div>
              <div class="slide-item m-hidden">
                <img src="../images/성심당.jpg" alt="성심당">
                <div class="slide-item-text">
                    <h2 class="slide-title">대전 대표 빵집</h2>
                    <p class="slide-content">성심당은 대전광역시에 위치한 베이커리 전문점이다. 튀김소보로나 부추빵으로 이름이 났으며 대한민국의 5대 빵집으로 유명합니다.</p>
                    <ul>
                      <li><i class="fa-solid fa-location-dot"></i>은행동 본점</li>
                      <li><i class="fa-solid fa-location-dot"></i>성심당 DCC점</li>
                      <li><i class="fa-solid fa-location-dot"></i>대전역점</li>
                      <li><i class="fa-solid fa-location-dot"></i>롯데백화점</li>
                    </ul>
                </div>
              </div>
              <div class="slide-item m-hidden">
                <img src="../images/시티투어.jpg" alt="시티투어">                     
                <div class="slide-item-text">
                  <h2 class="slide-title">시티투어 버스</h2>
                  <p class="slide-content">안전하고 다양한 프로그램 그리고 문화관광해설사의 재미난 이야기가 여러분들을 기다리고 있습니다.대전관광은 대전시티투어버스에서 시작해보세요.
                    </p>
                  <ul>
                    <li><i class="fa-solid fa-location-dot"></i>장태산 자연 휴양림</li>
                    <li><i class="fa-solid fa-location-dot"></i>한밭수목원</li>
                    <li><i class="fa-solid fa-location-dot"></i>뿌리공원</li>
                    <li><i class="fa-solid fa-location-dot"></i>수통골</li>
                  </ul>
                </div>
              </div>
            </div>  
          </div>

          <button class="slide-btn" id="prev" type="button">
            <i class="fa-solid fa-chevron-left"></i>
          </button>
          <button class="slide-btn" id="next" type="button">
            <i class="fa-solid fa-chevron-right"></i>
          </button>

        </div>
      </section>


      <!-- section3. hover menu -->
      <section>
        <div class="section-text">
          <h1 class="section-title">유잼 도시 '대전'</h1>
          <p class="section-content">먹거리, 놀거리, 볼거리 다 있는 대전!</p>
        </div>
        <div class="menu-box-list">
          <a href="/today-do" class="menu-box-item">
            <p class="menu-title">오늘<br>뭐하지</p>
            <img src="../images/travel.jpg" alt="여행">
          </a>
          <a href="/today-eat" class="menu-box-item">          
            <img src="../images/Food.jpg" alt="음식">
            <p class="menu-title">오늘<br>뭐먹지</p>
          </a>
          <a href="/today-see" class="menu-box-item">
            <p class="menu-title">오늘<br>뭐보지</p>          
            <img src="../images/Expo.jpg" alt="엑스포">
          </a>
          <a href="/today-all" class="menu-box-item">        
            <img src="../images/kumdori .jpg" alt="꿈돌이">
            <p class="menu-title">대전의<br>모든것</p>
          </a>
        </div>
      </section>
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>
    
  </div>

  <script src="../JS/header.js"></script>
  <script src="../JS/slide.js"></script>
  <script src="../JS/footer.js"></script>
  <script src="../JS/sidebar.js"></script>
  <script src="../JS/index.js"></script>
</body>
</html>