<!DOCTYPE html>
<html lang="ko">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="데이트는 대전이쥬~">
  <meta name="keywords" content="대전, 여행, 맛집, 데이트, 기념일, 관광">
  <meta name="author" content="꼬타비, 서우, 한나, Kai">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/6105f934ac.js" crossorigin="anonymous"></script>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <title>DDju</title>

  <link rel="stylesheet" href="./CSS/style.css">
  <link rel="stylesheet" href="./CSS/header.css">
  <link rel="stylesheet" href="./CSS/today.css">
  <link rel="stylesheet" href="./CSS/footer.css">
  <link rel="stylesheet" href="./CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <div class="place-header">
        <h2 class="title">오늘 뭐먹지</h2>
        <ul class="place-menu">
          <li><a href="/today-all">전체</a></li>
          <li><a href="/today-do">관광지</a></li>
          <li><a href="/today-eat" style="color: #AAC4FF;">맛집</a></li>
          <li><a href="/today-see">축제/공연</a></li>
        </ul>
        
        <div class="select">
          <select name="district" id="district">
            <option value="">전체(구)</option>
            <option value="&sigunguCode=1">대덕구</option>
            <option value="&sigunguCode=2">동구</option>
            <option value="&sigunguCode=3">서구</option>
            <option value="&sigunguCode=4">유성구</option>
            <option value="&sigunguCode=5">중구</option>
          </select>
          <div class="order">
            <li class="selected">제목순</li>
            <li>등록일순</li>
            <li>인기순</li>
          </div>
        </div>
      </div>

      <div class="place-list">
      </div>

      <div class="pagination">
        <div class="number-btn"></div>
      </div>
    </main>

    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  </div>

  <script src="./JS/header.js"></script>
  <script src="./JS/today-eat.js"></script>
  <script src="./JS/footer.js"></script>
  <script src="./JS/sidebar.js"></script>

</body>
</html>