<!DOCTYPE html>
<html lang="ko">
<head>
    
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="데이트는 대전이쥬~">
  <meta name="keywords" content="대전, 여행, 맛집, 데이트, 기념일, 관광">
  <meta name="author" content="꼬타비, 서우, 한나, Kai">

  <!-- Favicon -->
  <link rel="apple-touch-icon" sizes="180x180" href="./favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="./favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="./favicon/favicon-16x16.png">
  <link rel="manifest" href="./favicon/site.webmanifest">
  <link rel="mask-icon" href="./favicon/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffc40d">
  <meta name="theme-color" content="#ffffff">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Noto+Sans+KR&display=swap" rel="stylesheet">
    
  <!-- Fontawesome -->
  <script src="https://kit.fontawesome.com/6105f934ac.js" crossorigin="anonymous"></script>

  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>

  <title>찜 페이지</title>

  <link rel="stylesheet" href="./CSS/style.css">
  <link rel="stylesheet" href="./CSS/header.css">
  <link rel="stylesheet" href="./CSS/zzim.css">
  <link rel="stylesheet" href="./CSS/footer.css">
  <link rel="stylesheet" href="./CSS/aside.css">

</head>
<body>
  <div class="wrapper" id="top">

    <%- include('./header.ejs', { userLoggedIn }); -%>

    <main>
      <div class="zzim-header">
        <i class="fa-regular fa-heart"></i>
        <p>찜 목록</p>
      </div>
      <hr>
      
      <section>
        <div class="zzim-place">
          <div class="place-title">
            <p>데이트 장소</p>
          </div>
          <div class="zzim-place-count">
            <i class="fa-solid fa-heart"></i>
            <p>6</p>
          </div>
        </div>

        <div class="zzim-place-list">
          <div class="zzim-place-item">
              <img src="./images/데이트코스1.jpg" alt="한빛탑">
              <div class="zzim-text">
                <p>한빛탑</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>
          <div class="zzim-place-item">
              <img src="./images/공원.jpg" alt="한밭수목원">
              <div class="zzim-text">
                <p>한밭수목원</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>
          <div class="zzim-place-item">
              <img src="./images/카페.jpg" alt="카페">
              <div class="zzim-text">
                <p>카페</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>
          <div class="zzim-place-item">
              <img src="./images/데이트코스1.jpg" alt="한빛탑">
              <div class="zzim-text">
                <p>한빛탑</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>
          <div class="zzim-place-item">
              <img src="./images/공원.jpg" alt="한밭수목원">
              <div class="zzim-text">
                <p>한밭수목원</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>
          <div class="zzim-place-item">
              <img src="./images/카페.jpg" alt="카페">
              <div class="zzim-text">
                <p>카페</p>
                <div class="like-btn">
                  <button type="button"><i class="fa-regular fa-heart"></i></button>
                  <button type="button"><i class="fa-solid fa-heart"></i></button>
                </div>
              </div>
          </div>

        </div>
      </section>

      <section>
        <div class="zzim-course">
          <div class="course-title">
            <p>데이트 코스</p>
          </div>
          <div class="zzim-course-count">
            <i class="fa-solid fa-heart"></i>
            <p>4</p>
          </div>
        </div>

          <div class="zzim-course-list">
            <div class="zzim-course-item">

                <img src="./images/section1-background.jpg" alt="한밭수목원">
                <div class="zzim-text">
                  <p>비오는 날 더 가고싶은</p>
                  <div class="like-btn">
                    <button type="button"><i class="fa-regular fa-heart"></i></button>
                    <button type="button"><i class="fa-solid fa-heart"></i></button>
                  </div>
                </div>

            </div>
            <div class="zzim-course-item">

                <img src="./images/Expo.jpg" alt="엑스포">
                <div class="zzim-text">
                  <p>영화에 나온 그 곳!</p>
                  <div class="like-btn">
                    <button type="button"><i class="fa-regular fa-heart"></i></button>
                    <button type="button"><i class="fa-solid fa-heart"></i></button>
                  </div>
                </div>

            </div>
            <div class="zzim-course-item">

                <img src="./images/section1-background.jpg" alt="한밭수목원">
                <div class="zzim-text">
                  <p>비오는 날 더 가고싶은</p>
                  <div class="like-btn">
                    <button type="button"><i class="fa-regular fa-heart"></i></button>
                    <button type="button"><i class="fa-solid fa-heart"></i></button>
                  </div>
                </div>

            </div>
            <div class="zzim-course-item">

                <img src="./images/Expo.jpg" alt="엑스포">
                <div class="zzim-text">
                  <p>영화에 나온 그 곳!</p>
                  <div class="like-btn">
                    <button type="button"><i class="fa-regular fa-heart"></i></button>
                    <button type="button"><i class="fa-solid fa-heart"></i></button>
                  </div>
                </div>

            </div>
            
          </div>
        </section>
      
    </main>

    
    <%- include('./aside.ejs') -%>

    <%- include('./footer.ejs') -%>

    <%- include('./top-btn.ejs') -%>

  </div>

  <script src="./JS/zzim.js"></script>
  <script src="./JS/header.js"></script>
  <script src="./JS/footer.js"></script>
  <script src="./JS/sidebar.js"></script>

</body>
</html>