main {
  width: 800px;
  margin: 0 auto;
  color: #333;
}

.place-menu {
  display: flex;
}

.place-menu li {
  position: relative;
  padding: 0 10px;
}

.place-menu li::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 3px;
  left: 0;
} 

.place-menu li:first-child::before {
  content: none;
}

.title {
  font-size: 48px;
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0 10px 10px 10px;
}

hr {
  color:  #666666;
}

.place-detail-box {
  margin: 30px 10px;
  border: 1px solid #AAC4FF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.place-detail-box > img {
  width: 780px;
  height: 450px;
  object-fit: cover;
}

.place-detail-box .btn-group {
  display: flex;
  justify-content: space-between;
  margin: 10px 15px;
}

.place-detail-box .btn-group i {
  font-size: 20px;
}

.like-btn button:last-child {
  display: none;
}

.like-btn.on button:first-child {
  display: none;
}

.like-btn.on button:last-child {
  display: block;
  color: #FD8A8A;
  animation: like 1s linear;
}

.place-detail-txt {
  margin: 20px;
}

.place-detail-list {
  margin: 20px 0;
}

.place-detail-item {
  margin-bottom: 10px;
}

.place-detail-item:last-child {
  margin-bottom: 0;
}

.keywords-list {
  display: flex;
}

.keywords-list li {
  margin-right: 15px;
  padding:  5px 10px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  background-color: #AAC4FF;
}

.keywords-list li:last-child {
  margin-right: 0;
}

.review-box {
  margin: 10px 10px 80px 10px;
}

.review-title {
  display: flex;
  align-items: end;
}

.review-title p {
  margin-right: 20px;
  font-size: 24px;
  font-weight: 700;
}

#review-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 15px 30px;
  border: 3px solid #AAC4FF;
  border-radius: 24px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.write-review {
  width: 600px;
}

.star-rating {
  margin-bottom: 10px;
}

.star-rating label:hover i {
  color: #bbb;
}

.star-rating label.on i {
  color: #FBC85B;
}

.star-rating input[type='radio'] {
  display: none;
}

.star-rating i {
  font-size: 20px;
  color: #d9d9d9;
}

#review-txt {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  outline-color: #AAC4FF;
  resize: none;
}

.review-btn {
  padding: 15px 20px;
  border-radius: 10px;
  color: #fff;
  background-color: #AAC4FF;
}

.review-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 20px;
  border: 1px solid #AAC4FF;
  border-radius: 24px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.review-item:last-child {
  margin-bottom: 0;
}

.review-item > p {
  color: #AAC4FF;
}

.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-info img {
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  border-radius: 50%;
  object-fit: cover;
}

.user-info p {
  font-weight: 700;
}

.review {
  width: 480px;
  height: 90px;
  margin: 0 25px;
}

.review p {
  width: 480px;
  height: 70px;
  overflow: auto;
  font-size: 14px;
}

@keyframes like {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100%{
    transform: scale(1);
  }
}
