* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
li, ul, ol {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
}

.visually-hidden {
  display: none;
}

.text-secondary {
  color: #8e8e8e;
}

.text-red {
  color: red;
}

.text-green {
  color: #aac4ff;
}

.border-red {
  border-color: red;
}

.border-act {
  border-color: #aac4ff;
}

.warn {
  margin: 15px 0;
}



/* top-btn */

.top-btn{
  position: fixed;
  bottom: 30px;
  right: 30px;
}

.top-btn i {
  font-size: 38px;
  color: #AAC4FF;
}