* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

.visually-hidden {
    display: none;
}

.section-text {
    width: 100%;
    height: 200px;
    padding-top: 100px;
    text-align: center;
  }
  
  .section-title {
    font-weight: 700;
  }
  
  .section-content {
    font-size: 18px;
  }