main {
  width: 800px;
  margin: 0 auto;
  color: #333;
}
.place-header .title {
  font-size: 48px;
  font-family: 'Gowun Dodum', sans-serif;
  margin: 0 10px;
}

.place-header .place-menu {
  display: flex;
  margin: 10px 0;
}

.place-header .place-menu li {
  position: relative;
  padding: 0 10px;
}

.place-header .place-menu li a {
  color: #666;
}

.place-header .place-menu li::before {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 3px;
  left: 0;
} 

.place-header .place-menu li:first-child::before {
  content: none;
}

.place-header .select {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 10px;
  color: #666;
}

.place-header .order {
  display: flex;
}
.place-header .order li {
  padding-left: 20px;
  position: relative;
}

.place-header .order li::after {
  content: "";
  width: 2px;
  height: 15px;
  background-color: #ccc;
  position: absolute;
  top: 3px;
  left: 10px;
}

.place-header .order li:first-child::after {
  content: none;
}

.place-header #district {
  border: none;
  padding: 0 20px;
  color: #666;
}

.place-list {
  width: 800px;
  margin: 20px auto;
}

.place-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #AAC4FF;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
} 

.place-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.place-item .text-box {
  margin: 0 20px;
}

.place-item .text-box h3 {
  padding: 10px;
}

.place-item .text-box p {
  width: 520px;
  height: 65px;
  padding: 0 10px;
  /* 3줄만 보이게 */
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.keywords-list {
  display: flex;
  margin: 10px;
}

.keywords-list li {
  margin-right: 15px;
  padding:  5px 10px;
  border-radius: 25px;
  font-size: 14px;
  color: #fff;
  background-color: #AAC4FF;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.number-btn {
  display: flex;
  margin: 0 10px;
}

.number-btn button {
  padding: 0 5px;
  font-size: 18px;
}

.selected {
  color: #AAC4FF;
}